<%- include('partials/top', { title: locals.title ?? 'Directory', base: base }) %>
<div class="container-fluid text-white">
	<%- include('partials/header', { title: locals.title ?? 'Rema' }) %>
	<div class="row text-center">
		<div class="col-12 col-md-6 offset-md-3">
			<table id='credList' class='table'>
				<thead>
					<tr>
						<th scope="col">Credential ID</th>
					</tr>
				</thead>
				<%
					if (locals.certificates && typeof locals.certificates[0] === 'string')
						locals.certs = locals.certificates.map(c => ({
							title: c,
							uid: c
						}));
					else
						locals.certs = locals.certificates;
				%>
				<tbody>
					<% for (const cert of locals.certs ?? []) { %>
					<tr>
						<td title='<%= cert.uid %>'>
							<a target='_blank' class='cred-entry' href='<%= base %>certificate/<%= cert.uid %>'><%= cert.title %></a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%- include('partials/bottom') %>